:root {
    --nav-icon-width: 50px;
    --nav-border-width: 8px;
    --transition-duration: 0.2s;
    --colour-page-background: #cccccc;
    --colour-text-background: #444444;
    --colour-text-hover: #666666;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}

#page-container {
    height: 100vh;
    display: flex;
    position: relative;
    background: var(--colour-page-background);
}

#nav {
    width: 320px;
    height: inherit;
    background-color: var(--colour-text-background);
    transition: width --var(--transition-duration);
    flex-shrink: 0;
}

.nav-title {
    padding: 16px;
    color: white;
}

.nav-text {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
}

.nav-text:hover {
    background: var(--colour-text-hover);
}

.nav-icon {
    width: var(--nav-icon-width);
    height: var(--nav-icon-width);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

#nav-minimised {
    display: none;
    height: inherit;
    background-color: var(--colour-text-background);
    transition: width --var(--transition-duration);
}

#search-container {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: start;
    max-width: 400px;
    padding: 10px;
}

#search-container > * {
    margin: 10px;
}

#search-container > input {
    width: 84%;
}

#search-container > select {
    height: 30px;
}

#search-container > button {
    height: 30px;
}

#main {
    display: grid;
    grid-template-columns: 1fr;
    height: inherit;
    width: 100%;
    padding: 0;
    overflow-y: auto;
}

#search-results-container {
    display: none;
    overflow-y: auto;
    /* flex-grow: 1;
    flex-basis: 0; */
    min-width: 300px;
    background: slategrey;
}

#map-container {
    /* flex-grow: 3; */
    /* flex-basis: 0; */
}

#map {
    height: 100%;
    width: 100%;
}

#chart-container {
    position: absolute;
    top: 0;
    left: -90vw;
    height: 80vh;
    width: 80vw;
}